<div id="faq">
  <ol>
    <h4>
      <li><%= t.pages.faq.question_files_safe %></li>
    </h4>
    <p>
      <%= t.pages.faq.answer_files_safe(@file_lifespan.to_s) %>
    </p>
    <h4>
      <li>
        <%= t.pages.faq.question_why_free %>
      </li>
    </h4>
    <p>
      <%= t.pages.faq.answer_why_free %>
    </p>
    <h4>
      <li>
        <%= t.pages.faq.question_language_missing %>
      </li>
    </h4>
    <p>
      <%= t.pages.faq.answer_language_missing %>
    </p>
  </ol>
</div>