<p>
  <strong>
    <%= t.partials.step_by_step.title %>
  </strong>
</p>
<ol>
  <li>
    <p><%= t.partials.step_by_step.step1 %></p>
  </li>
  <li>
    <p><%= t.partials.step_by_step.step2 %></p>
  </li>
  <li>
    <p><%= t.partials.step_by_step.step3 %></p>
  </li>
  <li>
    <p><%= t.partials.step_by_step.step4 %></p>
  </li>
  <li>
    <p><%= t.partials.step_by_step.step5 %></p>
  </li>
    <li>
    <p><%= t.partials.step_by_step.step6 %></p>
  </li>
</ol>
<div class="has-text-centered">
  <hr/>
  <p><%= t.partials.step_by_step.finish %></p>
  <hr/>
</div>